body {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  margin: 0px;
  font-size: 3rem;
  font-family: 'roboto', sans-serif;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }
}

