.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.arrow-nav button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  width: 40px;
  height: 40px;
  background: #FB5 url('../img/arrow.svg') center center no-repeat;
}

.arrow-nav button.prev {
  transform: rotate(-180deg);
}